.userItem {
  width: 100%;
  min-height: 220px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 15px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 8px #9e9e9e;
}

.userItem:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.userIcon {
  display: flex;
  padding: 20px 0;
}

.userIcon img {
  margin: auto;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.userContact {
  overflow: hidden;
  padding: 10px 10px 0;
}

.userContact h3 {
  margin: 5px 0;
}

.infoItems {
  display: flex;
}

.labels {
  width: 25%;
}

.labels p {
  margin: 5px 0;
  font-weight: 500;
  font-style: italic;
}

.info p {
  margin: 5px 0;
  font-style: italic;
}

.infoItem label {
  color: rgb(172, 172, 172);
  margin-right: 10px;
}

.infoItem p {
  margin: 0;
}