.container {
  max-width: 1100px;
  margin: auto;
}

.header {
  height: 50px;
  background: white;
  box-shadow: 5px 5px 8px #9e9e9e;
  margin-top: 15px;
  border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -ms-border-radius: 10px 10px;
  -o-border-radius: 10px 10px;
}

.header span {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.pagination {
  width: 25%;
  min-width: 300px;
  margin: auto;
}

.preloader {
  width: 10%;
  min-width: 220px;
  margin: auto;
  height:500px;
}