.infoItems {
  display: flex;
}

.labels {
  width: 25%;
}

.labels p {
  margin: 5px 0;
  font-weight: 500;
  font-style: italic;
}

.info p {
  margin: 5px 0;
  font-style: italic;
}

.infoItem label {
  color: rgb(172, 172, 172);
  margin-right: 10px;
}

.infoItem p {
  margin: 0;
}